html,body{
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 300;
}
.landing{
  width:100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url('../imgs/bg-web.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing>.header{
  width:55%;
  height:100%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.img-responsive{
  max-width: 100%;
}

#countdown{
  width: 600px;
  margin:0 auto;
  text-align: center;
}

.count-section{
  width:90px;
  height:90px;
  margin: 0 22px;
  border-radius: 50%;
  border: 5px solid white;
  display:inline-block;
  text-align: center;
}
.count-section>h1{
  color:white;
}

.enter{
  text-align: center;
  margin:40px;
}

button{
  padding: 5px 50px;
  border-radius: 5px;
  background-color: rgba(255,255,255,.3);
  border: 5px solid white;
}

button:hover{
  cursor: pointer;
  background-color: white;

}

.banner{
  width:100%;
  height:100%;
}

.nav{
  position:fixed;
  background:rgba(0,0,0,.5);
  width:100%;
  text-align: center;
  z-index: 5;
}

.nav>ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav>ul>li{
  display:inline-block;
  padding:16px 25px;
}
.nav>ul>li>a{
  color:white;
  text-decoration: none;
  font-size: 20px;
  opacity: .6;
  font-family: 'La Belle Aurore', cursive;
}

.nav>ul>li>a:hover{
  opacity: 1;
}

a{
  text-decoration: none;
  color:black;
}

a:hover{
  color:gray;
  text-decoration: underline;
}
a.active{
  opacity: 1 !important;
  font-weight: 500;
  text-decoration: underline !important;
}

.content{
  width:740px;
  margin:-60px 0 0 -400px;
  left:50%;
  background-color: white;
  z-index: 3;
  position: absolute;
  padding:30px;
  text-align: center;
}

.info{
  border-bottom:1px solid lightblue;
  margin-bottom: 50px;
}
.info-blurb{
  border-top:1px solid lightblue;
  width:100%;
  padding:10px 0;
  text-align: center;
}

.la-belle{
  font-family: 'La Belle Aurore', cursive;
  color: gray;
}

.accent{
  font-weight: bold !important;
  color: purple;
}

.video{
  margin-bottom:50px;
}

#map {
    width: 750px;
    height: 500px;
}

